# Dependencies
site/node_modules/

# Build output
site/dist/
site/.astro/

# Environment
.env
.env.*
**/.env
**/.env.*

# OS
.DS_Store
Thumbs.db
**/.DS_Store
**/Thumbs.db

# IDE
.vscode/settings.json
.idea/
.vscode/


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary folders/files
tmp/
.temp/
*.tmp
*.temp
site/playwright-report
site/test-results

# Node
node_modules/
**/node_modules/
